/* General styles for the navigation menu */
nav {
  margin: 24px 16px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 12px;
  justify-content: flex-start;
}

nav ul li {
  border: 2px solid #333333;
}

nav ul li a {
  font-weight: 500;
  display: block;
  color: #333333;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #333333;
  color: white;
}

nav ul li a.active {
  background-color: #333333;
  color: white;
}