<h2>Statics Module</h2>

<div *ngIf="studentStatics">
  @defer(){
    <app-resume-data 
      [passedStudents]="studentStatics.pass"
      [failedStudents]="studentStatics.fail"
      [totalStudents]="studentStatics.totalStudents">
    </app-resume-data>
  } @placeholder {
    <div class="graph-box">
      <app-spinner></app-spinner>
    </div>
  }

  @defer(on viewport){
    <app-gender 
    [maleStudents]="studentStatics.male"
    [femaleStudents]="studentStatics.female">
  </app-gender>
  } @placeholder {
    <div class="graph-box">
      <app-spinner></app-spinner>
    </div>
  }

  @defer(on viewport){
    <app-general-results 
      [passedStudents]="studentStatics.pass"
      [failedStudents]="studentStatics.fail"
      [totalStudents]="studentStatics.totalStudents">
    </app-general-results>
  } @placeholder {
    <div class="graph-box">
      <app-spinner></app-spinner>
    </div>
  }
  
</div>
