ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 16px;
  padding: 0;
}

.emptyList{
  display: flex;
  gap: 12px;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 16px;
  border: 2px solid #333333;
}

.emptyList li {
  flex: 1 0 0;
}