<h2>Students List</h2>

<div class="students-container">
  <ul>
    <li *ngFor="let student of students; trackBy: trackById">
      <h4>{{student.nombre}} {{student.apellidos}}</h4>
      <div class="student-data">
        <p><strong>Sexe: </strong>{{student.sexo}}</p>
        <p><strong>Nota: </strong>{{student.nota}}</p>
        <p><strong>Absències: </strong>{{student.faltas_asistencia}}</p>
        @if(student.nota >= 5){
          <p>Aprovat</p>
        } @else {
          <p>Suspès</p>
        }
      </div>
    </li>
  </ul>
</div>
